{% extends 'base.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="row mx-auto my-5">
            <div class="col-md-6 mx-auto">
                <div class="card p-3">
                    <form action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label"
                                >Username</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Username"
                                name="username"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label"
                                >Password</label
                            >
                            <input
                                type="password"
                                class="form-control"
                                placeholder="Your secure Password"
                                name="password1"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label"
                                >Confirm Password</label
                            >
                            <input
                                type="password"
                                class="form-control"
                                name='password2'
                                placeholder="Confirm Your Secure Password"
                            />
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-dark" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}